/* global */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: black;
  color: white;
}

a, a:visited {
  color: #f1f;
  text-decoration: none;
}

a:hover, a.active {
  color: #666;
  text-decoration: underline;
  transition: all 0.5s ease;
  transition-property: color, fill;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.stickyNav {
  position: -webkit-sticky;
  position: sticky;
  background-color: black;
  padding-left: 2em;
}

.post, .page {
  margin: 2.5em;
}

.page * {
  max-width: 95vw;
}

/* header.html */

header {
  position: relative;
  height: 100vh;
}

#headerLineDrawing {
  z-index: 2;
}

#headerLineDrawing, #subHeading {
  position: relative;
  top: 33vh;
  color: #f1f;
}

*:focus {
  outline: none;
}

.carousel-wrapper {
  position: absolute;
  top: -37px;
  max-width: 100vw;
  overflow: hidden;
}

.carousel>.item {
  width: 100vw;
  height: 100vh;
}

.carousel>.item>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}


#subHeading {
  max-width: 100vw;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  font-family: serif;
}

#subHeading div:first-child {
  margin-bottom: 20vh;
}

.fadeInBorder {
  animation-name: fadeInBorder;
  animation-duration: 3s;
}
@keyframes fadeInBorder {
  0% {
    border-top-color: transparent;
  }
  100% {
    border-top-color: black;
  }
}

.blackHotpink {
  animation-name: blackHotpinkColors;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes blackHotpinkColors {
  0% {
    border-top-color: black;
    /* margin-top: 1em; */
  }
  25% {
    /* margin-top: 1.2em; */
  }
  50% {
    border-top-color: #f1f;
    /* margin-top: 1em; */
  }
  75% {
    /* margin-top: 1.2em; */
  }
  100% {
    border-top-color: black;
    /* margin-top: 1em; */
  }
}

.fadeToHotpinkColor {
  animation-name: fadeToHotpinkColor;
  animation-duration: 10s;
  color: #f1f;
}
@keyframes fadeToHotpinkColor {
  0% {
    color: rgba(0,0,0,0);
  }
  100% {
    color: #f1f;
  }
}

.fadeToHotpinkNeon {
  animation-name: fadeToHotpinkNeon;
  animation-duration: 3s;
  color: #f1f;
  text-shadow:
    0 0 5px rgba(0,0,0,0.8),
    0 0 10px rgba(0,0,0,0.5),
    /* 0 0 20px #f1f, */
    0 0 40px #f1f,
    0 0 80px #f1f,
    0 0 90px #f1f,
    0 0 100px #f1f,
    0 0 150px #f1f;
}
@keyframes fadeToHotpinkNeon {
  0% {
    color: rgba(0,0,0,0);
    text-shadow:
      /* 0 0 5px black, */
      /* 0 0 10px black, */
      /* 0 0 20px black, */
      0 0 40px rgba(0,0,0,0),
      0 0 80px rgba(0,0,0,0),
      0 0 90px rgba(0,0,0,0),
      0 0 100px rgba(0,0,0,0),
      0 0 150px rgba(0,0,0,0);
  }
  100% {
    color: #f1f;
    text-shadow:
      /* 0 0 5px #f1f, */
      /* 0 0 10px #f1f, */
      /* 0 0 20px #f1f, */
      0 0 40px #f1f,
      0 0 80px #f1f,
      0 0 90px #f1f,
      0 0 100px #f1f,
      0 0 150px #f1f;
  }
}

.fadeToTrans {
  animation-name: fadeToTrans;
  animation-duration: 3s;
  color: rgba(0,0,0,0) !important;
  text-shadow:
    0 0 40px rgba(0,0,0,0),
    0 0 80px rgba(0,0,0,0),
    0 0 90px rgba(0,0,0,0),
    0 0 100px rgba(0,0,0,0),
    0 0 150px rgba(0,0,0,0);
}
@keyframes fadeToTrans {
  0% {
    color: #f1f;
    text-shadow:
      0 0 40px  #f1f,
      0 0 80px  #f1f,
      0 0 90px #f1f,
      0 0 100px #f1f,
      0 0 150px #f1f;
  }
  100% {
    color: rgba(0,0,0,0);
    text-shadow:
      0 0 40px rgba(0,0,0,0),
      0 0 80px rgba(0,0,0,0),
      0 0 90px rgba(0,0,0,0),
      0 0 100px rgba(0,0,0,0),
      0 0 150px rgba(0,0,0,0);
  }
}
/* nav.html */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: middle;
  font-weight: 700;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: black;
  z-index: 3;
}

nav a {
  margin: 0.5em 1em;
}

nav a.landing {
  margin: 0.5em 0;
}

nav a:hover {
  fill: #f1f;
  text-decoration: none;
}

#navLineDrawing {
  width: 44px;
  display: inline-block;
}

/* main content */

main {
  margin: 1em;
  min-height: 100vh;
  padding-bottom: 25vh;
}

.post-meta {
  float: right;
  margin-right: 2em;
  font-size: 0.8em;
  color: #666;
}

footer {
  text-align: right;
  margin-right: 1vw;
  margin-bottom: 2px;
  font-size: 10px;
}
footer a {
  text-decoration: none;
}

/* mobile stuffz */
@media (max-width: 600px) {
  #subHeading {
    font-size: 1em;
  }
  nav {
    position: static;
    /* flex-direction: column; */
    margin: 0 0.5em;
    font-size: 1.5em;
    justify-content: space-between;

  }
  nav.homeNav{
    position: absolute;
  }
  #lbOutline {
    width: 100%;
  }
  nav a {
    margin: 0 5px;
  }
  .stickyNav {
    position: static;
  }
  .post, .page {
    margin: 0.5em;
  }

  #carousel .imgWrapper {
    background-repeat: repeat;
    background-size: cover!important;
  }
}

.projectsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10% 10%;
  padding: 0 10%;
}
.projectsGrid a {
  text-decoration: none;
  color: #f1f;
}
.projectsGrid a:hover {
  color: #666;
}
.projectsGrid a {
  transition: filter 1.5s;
}
.projectsGrid a:hover {
  filter: grayscale(1);
}
.projectsGrid .name {
  text-align: center;
  margin-top: 1em;
  font-size: 1.5em;
}
@media (max-width: 600px) {
  .projectsGrid {
    padding: 0;
    font-size: 1.25em;
  }
}
