/* global */
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

a, a:visited {
  color: #f1f;
  text-decoration: none;
}

a:hover, a.active {
  color: #666;
  text-decoration: underline;
  transition: all 0.5s ease;
  transition-property: color, fill;
}

img {
  width: 100%;
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}

.stickyNav {
  position: sticky;
  background-color: white;
  padding-left: 2em;
}

.post, .page {
  margin: 2.5em;
}

/* header.html */

header {
  height: 100vh;
}

#headerLineDrawing, #subHeading {
  position: relative;
  top: 33vh;
}

#subHeading {
  max-width: 100vw;
  text-align: center;
  font-size: 2em;
  font-style: italic;
}

#keepItMovinContainer {
  position: relative;
  top: calc(66vh - 50px);
  width: 100%;
}

#keepItMovin {
  margin: 1.5em auto;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid black;
}

.fadeToBlackBg {
  animation-name: fadeToBlackBg;
  animation-duration: 10s;
  background-color: black;
}
@keyframes fadeToBlackBg {
  0% {
    background-color: white;
  }
  100% {
    background-color: black;
  }
}


.fadeInBorder {
  animation-name: fadeInBorder;
  animation-duration: 3s;
}
@keyframes fadeInBorder {
  0% {
    border-top-color: transparent;
  }
  100% {
    border-top-color: black;
  }
}

.blackHotpink {
  animation-name: blackHotpinkColors;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes blackHotpinkColors {
  0% {
    border-top-color: black;
    margin-top: 1em;
  }
  25% {
    margin-top: 1.2em;
  }
  50% {
    border-top-color: #f1f;
    margin-top: 1em;
  }
  75% {
    margin-top: 1.2em;
  }
  100% {
    border-top-color: black;
    margin-top: 1em;
  }
}

.fadeToHotpinkColor {
  animation-name: fadeToHotpinkColor;
  animation-duration: 10s;
  color: #f1f;
}
@keyframes fadeToHotpinkColor {
  0% {
    color: white;
  }
  100% {
    color: #f1f;
  }
}

.fadeToHotpinkNeon {
  animation-name: fadeToHotpinkNeon;
  animation-duration: 3s;
  color: #f1f;
  text-shadow:
    0 0 5px #f1f,
    0 0 10px #f1f,
    0 0 20px #f1f,
    0 0 40px #f1f,
    0 0 80px #f1f,
    0 0 90px #f1f,
    0 0 100px #f1f,
    0 0 150px #f1f;
}
@keyframes fadeToHotpinkNeon {
  0% {
    color: black;
    text-shadow:
      0 0 5px black,
      0 0 10px black,
      0 0 20px black,
      0 0 40px black,
      0 0 80px black,
      0 0 90px black,
      0 0 100px black,
      0 0 150px black;
  }
  100% {
    color: #f1f;
    text-shadow:
      0 0 5px #f1f,
      0 0 10px #f1f,
      0 0 20px #f1f,
      0 0 40px #f1f,
      0 0 80px #f1f,
      0 0 90px #f1f,
      0 0 100px #f1f,
      0 0 150px #f1f;
  }
}

/* nav.html */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: middle;
  font-weight: 700;
  position: sticky;
  top: 0;
  background-color: white;
}

nav a {
  margin: 0.5em 1em;
}

nav a.landing {
  margin: 0.5em 0;
}

nav a:hover {
  fill: #f1f;
  text-decoration: none;
}

#navLineDrawing {
  width: 44px;
}

/* main content */

main {
  margin: 1em;
}

.post-meta {
  float: right;
  margin-right: 2em;
  font-size: 0.8em;
  color: #666;
}

/* mobile stuffz */
@media (max-width: 600px) {
  #subHeading {
    font-size: 1em;
  }
  nav {
    position: static;
  }
  #lbOutline {
    width: 100%;
  }
  nav a {
    margin: 0 5px;
  }
  .stickyNav {
    position: static;
  }
  .post, .page {
    margin: 0.5em;
  }
}
