<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <title>{% if page.name %} {{ page.name }} | {% endif %} Lorene Bouboushian</title>
    <meta name="description" content="{{site.description}}"/>
    <meta name="author" content="{{site.author}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">
  
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script src="{{site.baseurl}}/assets/js/anime.min.js"></script>

  </head>

  <body>
    
    {{ content }}

    <script src="{{site.baseurl}}/assets/js/main.js"></script>
  </body>
</html>
